@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: Helvetica, sans-serif;

  color: #fff;
  background-color: rgb(49, 51, 56);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.control {
  border-radius: 0.3rem;
  box-shadow: rgba(30, 31, 34, 0.6) 0px 0px 0px 1px;
}

nav {
  flex: 1 0 13.625rem;
  background-color: rgb(43, 45, 49);
}
.content {
  flex: 1 1 50rem;
}
